@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn-primary {
       @apply px-3 py-1.5 text-white bg-sky-500 hover:bg-sky-600 active:bg-sky-700 focus:outline-none focus:ring focus:ring-sky-300 text-sm font-semibold rounded-xl
    }

    .bg-gradient{
        @apply bg-[radial-gradient(circle_at_bottom_left,_var(--tw-gradient-stops))] from-teal-50 via-emerald-200 to-indigo-400 bg-fixed
    }
    .circle {
        width: 450px;
        height: 450px;
        background: linear-gradient(to bottom, #fa39ad 40%, #fe6c4c 50%);
        filter: blur(120px);
    }
    .bg-clear{
        @apply bg-opacity-20 bg-white backdrop-blur-[10px]
    }
    .bg-normal{
        @apply bg-opacity-40 bg-white backdrop-blur-[50px]
    }
}
@layer base {
  html {
    font-family: "Noto Sans", system-ui, sans-serif;
  }
  input {
      background-color: inherit;
  }
}

@layer utilities {
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }animation-delay-3000 {
    animation-delay: 3s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }

}
